@import '../../styles/base/variables';

.header {
  height: 56px;
  background: #00bc8d;
  color: #4a4a4a;
  font-size: 12px;
  //border-bottom: 2px solid #f0f0f0;
  // display: flex;
  // align-items: center;
  //justify-content: flex-end;
  line-height: 56px;

  .account {
    margin-right: 28px;
    margin-left: 28px;
    float: right;

    > * {
      vertical-align: middle;
    }

    a {
      color: #4a4a4a;
    }
    .username {
      padding-right: 10px;
    }
    .anticon-user {
      margin-right: 10px;
      border: 1px solid #f0f0f0;
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      line-height: 32px;
      font-size: 16px;
    }
  }
  .title {
    font-size: 15px;
    color: #fff;
  }
  .nav-bars {
    float: right
  }
  .email {
    float: right;
    margin-right: 28px;
  }
}
